{% if not session.username %}

<p>You must be logged in.</p>
<a href="/">Front page</a>
<a href="/login">Login</a>

{% else %}
<a href="/">Back</a>

<form action="/create_topic" method="POST">

<p>Url:<br>
<input type="text" name="url"></p>

<p>Title:<br>
<input type="text" name="title"></p>

<p>Description (optional):<br>
<textarea name="description" rows="2" cols="40"></textarea>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

<br>
<input type="submit" value="Create">

</form>

{% endif %}
