<link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
<script src="{{ url_for('static', filename='js.js') }}" ></script>
<body>
	<div class="top-bar box">
		<div class="navigation">
			<a href="/">Home</a>
			{% block navigation %}{% endblock %}
		</div>
		<div class="spacer"></div>
		<div class="user_menu">
			{% if session.username %}
				<a href="/user/{{session.username}}">{{ session.username }}</a> <a href="/logout">Logout</a>
			{% else %}
			<a href="/register">Register</a> <a href="/login">Login</a>
			{% endif %}
		</div>
	</div>
	<div class="main">
		{% block content %}{% endblock %}
	</div>
</body>