{% extends "layout.html" %}
{% block navigation %}
	<span>Login</span>
{% endblock %}
{% block content %}
	{% if session.username %}

	<div class="dialog-box box">
		<div class="title">You are currently logged in as {{ session.username }}.</div>
		<div class="actions">
			<div><a href="/">Front page</a></div>
			<div><a href="/logout">Logout</a></div>
		</div>
	</div>
	{% else %}
		<div class="dialog-box box">
			<div class="title">Login</div>
			<form action="/login" method="POST">
				<label for="username">Username:</label><br>
				<input type="text" name="username"><br>
				<label for="password">Password:</label><br>
				<input type="password" name="password"><br>
				<div class="actions">
					<div><input type="submit" value="Login"></div>
					<div><a href="/register">Register</a></div>
				</div>
			</form>
		</div>
	{% endif %}
{% endblock %}