{% extends "layout.html" %}

{% block navigation %}
	<a href="/topics">Topics</a>
	<a href="/topic/{{ root.url }}">{{ root.url }}</a>
	{% if root.opener_id == root.id %}
		<span>{{ root.title }}</span>
	{% else %}
		<a href="/thread/{{ root.thread_id }}">{{ root.title }}</a>
		<span>post #{{ root.id }}</span>
	{% endif %}
{% endblock %}
{% block content %}
<div class="post box">
		{% if root.opener_id == root.id %}
			<div class="title">
				{{ root.title }}
				{% if root.link %}
					(<a href="{{ root.link }}">{{ root.link }}</a>)
				{% endif %}
			</div>
		{% endif %}
		{% if root.content %}
			<div class="content">{{ root.content }}</div>
		{% endif %}
		<div class="footer">
			<span>posted by <a href="/user/{{ root.username }}">{{ root.username }}</a></span>
			<span>on {{ root.created }}</span>
			{% if root.username == session.username %}
				<a href="/edit/{{root.id}}">edit</a>
			{% endif %}
			{% if root.username == session.username or session.is_admin %}
				<a href="/delete/{{root.id}}">delete</a>
			{% endif %}
			{% if session.is_admin %}
				<a href="/hide/{{root.id}}">hide</a>
			{% endif %}
		</div>
</div>
{% if session.username %}
	<div class="dialog-box box">
		<div class="title">Reply</div>
		<form action="/reply/{{root.id}}" method="POST">
			<textarea name="content" rows="2" cols="40"></textarea>
			<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
			<div class="actions">
				<input type="submit" value="Submit">
			</div>
		</form>
	</div>
{% endif %}
<p>Comments:
{% for post in replies %}
<div class="post box">
	{% if post.status == 3 %}
		<div class="content">Deleted</div>
	{% else %}
		<div class="content">{{ post.content }}</div>
		<div class="footer">
			<span>posted by <a href="/user/{{ post.username }}">{{ post.username }}</a></span>
			<span>on {{ post.created }}</span>
			{% if session.username %}
				<a href="/reply/{{post.id}}">reply</a>
			{% endif %}
			{% if post.username == session.username %}
				<a href="/edit/{{post.id}}">edit</a>
			{% endif %}
			{% if post.username == session.username or session.is_admin %}
				<a href="/delete/{{post.id}}">delete</a>
			{% endif %}
			{% if session.is_admin %}
				<a href="/hide/{{post.id}}">hide</a>
			{% endif %}
		</div>
	{% endif %}
</div>
{% endfor %}

{% endblock %}