{% extends "layout.html" %}

{% block navigation %}
	<a href="/topic/{{ opener.url }}">{{ opener.url }}</a>
	<a href="/thread/{{ opener.thread_id }}">{{ opener.title }}</a>
	<span>post #{{ opener.id }}</span>
{% endblock %}
{% block content %}
<div class="post box">
		<div class="username">posted by {{ opener.username }}</div>
		{% if opener.content %}<div class="content">{{ opener.content }}</div>{% endif %}
		<div class="footer">
			{% if opener.username == session.username %} <a href="/edit/{{opener.id}}">edit</a>{% endif %}
			{% if opener.username == session.username or session.is_admin %} <a href="/delete/{{opener.id}}">delete</a>{% endif %}
			{% if session.is_admin %} <a href="/hide/{{opener.id}}">hide</a>{% endif %}
		</div>
</div>
{% if session.username %}
	</p>
	<p>Reply
	<form action="/reply/{{opener.id}}" method="POST">
		<textarea name="content" rows="2" cols="40"></textarea>
		<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
		<br>
		<input type="submit" value="Submit">
	</form>
	<hr>
{% endif %}
<p>Comments:
{% for post in replies %}
<div class="post box">
	{% if post.status == 3 %}
		<div class="content">Deleted</div>
	{% else %}
		<!-- If post status == 2 set hidden -->
		<div class="username">{{ post.username }}</div>
		<div class="content">{{ post.content }}</div>
		<div class="footer">
			<a href="/reply/{{post.id}}">reply</a>
			{% if post.username == session.username %} <a href="/edit/{{post.id}}">edit</a>{% endif %}
			{% if post.username == session.username or session.is_admin %} <a href="/delete/{{post.id}}">delete</a>{% endif %}
			{% if session.is_admin %} <a href="/hide/{{post.id}}">hide</a>{% endif %}
		</div>
	{% endif %}
</div>
{% endfor %}

{% endblock %}